body{
    margin: 0;
}

#signup{
    width: 100%;
    height: 98vh;
    border: 1px solid white;
    display: flex;
    justify-content: left;
}

#signup>div:nth-child(1){
    width: 35%;
}
#signup>div:nth-child(1)>#img{
    width: 100%;
    height: 80px;
    background-color: black;
}
#signup>div:nth-child(1)>div>img{
    width: 40%;
    height: 100%;
    display: block;
    margin: auto;
}
#signup>div:nth-child(1)>h2{
    text-align: center;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 13%;
}
#signup>div:nth-child(1)>input,label{
    display: block;
    margin: auto;
    width: 70%;
    height: 5.5%;
}
#signup>div:nth-child(1)>input{
    padding-left: 2.1%;
    font-size: 17px;
}
#signup>div:nth-child(1)>label{
    margin-bottom: -4%;
    margin-top: 5%;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(55, 55, 55);
}
#signup>div>button{
    display: block;
    margin: auto;
    margin-top: 6%;
    width: 73%;
    height: 6%;
    font-size: 16px;
    color: white;
    background-color: rgb(255, 110, 57);
    border: 0;
    border-radius: 3px;
}
#signup>div>p{
    text-align: center;
    font-size: 18px;    
}
#signup>div:nth-child(2){
    width: 65%;
    background-color: rgb(32, 117, 191);
    display: flex;
    justify-content: center;
    align-items: center;
}
#signup>div:nth-child(2)>img{
    
    width: 70%;
    height: 70%;
}



