body{
    margin: 0;
}

#signup{
    width: 100%;
    height: 99vh;
    border: 1px solid black;
    display: flex;
    justify-content: left;
}

#signup>div:nth-child(1){
    width: 35%;
    border: 1px solid red;
}
#signup>div:nth-child(2){
    width: 65%;
    border: 1px solid red;
}